
*.asv

*.xlsx#

code/.DS_Store

code/experiment/.DS_Store

code/experiment/~$Run_1.xlsx

*.txt

code/experiment/data/.DS_Store

*.csv
code/experiment/openExperimentWindow.m

data/

rawdata/

.DS_Store
